<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abilash's Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='images/Lighter.jpg') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    


</head>
<body>
    <header>
        <h1>Welcome to My Portfolio</h1><br>
        <nav>
            <a href="#about"><b>About</b></a>
            <a href="#skills"><b>Skills</b></a>
            <a href="#projects"><b>Projects</b></a>
            <a href="#contact"><b>Contact</b></a>
            <button id="theme-toggle">Toggle Theme</button>
            <a href="{{ url_for('submissions') }}" class="admin-link" ><b>Submissions</b></a>
        </nav>
    </header>
    
    <div id="project-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3 id="modal-title">Project Title</h3>
            <p id="modal-description">Project description goes here...</p>
        </div>
    </div>
    

    {% block content %}{% endblock %}

    

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
